/* Brighter Green/blue */
$main-color1: #3fb18d;

/* Less Brighter Green/blue */
$main-color2: #64b69c;

/* LessER Brighter Green/blue */
$main-color3: #9cd5c7;

/* Less Grey */
$main-color4: #bbbdc0;

$main-color5: black;
$main-color6: white;

/* Cursive Font */
$main-font1: 'aspiredemibold';



/* BASE */



/* LAYOUT */



/* MODULE */
/* STATE */
/* THEME */